.heading{
    color: slateblue
}

body{
    background-color: lightslategrey;
}

h1{
    text-align: center;
    color: slateblue
}

h2{
    color: black;
}

.red{
    color: red;
}

.bold{
    font-weight: bolder;
}

.text_align_center{
    text-align: center;
}

.roguelite{
    background-color: rgba(255, 0, 0, 0.7);
    font-weight: 100    ;

}

.sandbox{
    background-color: bisque;

}


.fps{
    background-color: mediumseagreen;

}

.deckbuilder{
    background-color: burlywood;

}

.survivor{
    background-color: lightskyblue;

}

.card_style{
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    gap: 10px;
}